<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Что-то сломалось</title>

	<link type="text/css" rel="stylesheet" href="~/css/error.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">			
			<h2>Попробуйте позже</h2>
			<a href="@Url.Action("Index","Home")">Домой</a>
		</div>
	</div>

</body>

</html>